GOOGLE_CLIENT_ID=seu-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=seu-client-secret
NEXTAUTH_SECRET=gere-com-openssl-rand-base64-32
NEXTAUTH_URL=http://localhost:3000
# Separe múltiplas planilhas por vírgula
SPREADSHEET_IDS=id-planilha-1,id-planilha-2
